<!DOCTYPE html>
<html lang="en">

<head>

  <%- include("partials/header", {title: "Ingresar"}) %>
</head>

<body>
  <div class="bigDiv">
    <h2>Ingresar</h2>
    <form action="/login" method="post">
      <table class="centeredTable">
        <tr>
          <td>Email:</td>
          <td><input type="text" placeholder="Email" name="email" id="inputEmail" required /></td>
        </tr>
        <tr>
          <td>Contraseña:</td>
          <td><input type="password" placeholder="Contraseña" name="password" id="inputPassword" required /></td>
        </tr>
        <tr>
          <td colspan="2">
            <small><%= msg %></small>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <input type="submit" value="Ingresar" id="submitBtn" />
          </td>
        </tr>
      </table>
      <span>---------------------------</span>
    </form>
    <h3>Cómo usar:</h3>
    <p>Registrarse en la <a href="/register">página de registro</a>.</p>
    <p>Una vez registrado será logueado y redirigido a la página de Productos.</p>
    <p>Ahí se encontrará con los productos disponibles los cuales puede agregar a un carrito de compras asociado a su cuenta.</p>
    <p>En la parte superior de la página se encuentran los links al carrito y al chat de soporte.</p>
    <p>En la página del carrito se puede confirmar la orden.</p>
    <p>Desde la página de productos se puede acceder a la página de órdenes donde estarán listadas.</p>
  </div>
</body>

</html>