<!DOCTYPE html>
<html lang="en">
<head>
    
    <%- include("partials/header", {title: "Ingresar"}) %> 
</head>
<body>
    <div class="bigDiv">
        <p>Adiós!!</p>
    </div>
    <form action="/" style="display: none;">
        <input type="submit" id="redirigir" />
    </form>
    <script src="/js/logout.js"></script>
</body>
</html>