<!DOCTYPE html>
<html lang="en">
<head>
    
    <%- include("partials/header", {title: "Ingresar"}) %> 
</head>
<body>
    <div class="bigDiv">
        <p>Adiós!!</p>
    </div>
    <a href="/" id="redirigir" style="display: none;"></a>
    <script src="/js/logout.js"></script>
</body>
</html>